<div>
    <div class="user-inputs">
    <div class="input-block">
        <span class="text">
            Enter Name :
        </span>
        <span>
            {{input value=name placeholder="Name"}}
        </span>
    </div>
    <div  class="input-block">
        <span class="text">
            Enter Place :
        </span>
        <span>
            {{input value=place placeholder="Place"}}
        </span>
    </div>
    </div>
    <div class="button-block">
        <span>
            <button class="add-button"onClick={{action "addUserValue" }}>
             Add
            </button>
        </span>
    </div>
</div>
{{yield}}