.text {
    font-size: large;
    margin-left: 50px;
    margin-right: 10px;;
}
.input-block {
    padding: 10px 10px 10px;;
}

.user-inputs {
    margin-left: 20px;;
}
.route-link {
    margin-left: 50px;
}
.button-block {
    padding:10px 10px 10px;
    margin-left: 130px;
}
.add-button, .clear-button {
    background-color: beige;
    width:80px;
}
.link {
    margin-right: 10px;;
}
.route-name {
    font-size: 30px;
    padding:20px 10px;
    color: blueviolet;
}
.route-link {
    color:blue;
    cursor:pointer;
    font-size: 20px;
}