<span class="route-name">
    Careers
</span>
{{add-query-params
    setName=(action "setName")
    setPlace=(action "setPlace")
}}
<div class="route-link">
 <span onClick={{action "changeRoute" "/contact/1"}}>Contact Us</span>
  <span onCLick={{action "changeRoute" "about"}}>About</span>
</div>
{{outlet}}