<span class="route-name">
    About-1
</span>
{{add-query-params
    setName=(action "setName")
    setPlace=(action "setPlace")
}}
<div class="route-link">
  <span onClick={{action "changeRoute" "/contact/1"}}>Contact Us</span>
  <span onClick={{action "changeRoute" "job.user.career"}}>Career</span>
</div>
{{outlet}}