<span class="route-name">
    Contact Us
</span>
{{add-query-params
    setName=(action "setName")
    setPlace=(action "setPlace")
}}
<div class="route-link">
  <span class="link">{{#link-to "about"}}About{{/link-to}}</span>
  <span>{{#link-to "job.user.career"}}Careers{{/link-to}}</span>
</div>
{{outlet}}